/* General */

body {
    background-color: #D2DEF1;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto; 
    padding-top: 10px;  
}

p {
    font-family: 'Roboto', sans-serif;
}

.todoColor {
    background-color: #E87479;
}

.doingColor {
    background-color: #FFD977;
}

.doneColor {
    background-color: #9CC8CB;
}


/* Header */

header{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 0px;
}

header .titreSite {
    width: 250px; 
    
    display: flex;
    flex-direction: column;
	align-items: center;
}

header h1 {
    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    
    color: #213A6C;  

    margin-top: 10px;
}

header .logoSite {
    width: 60px;
}


    /* Formulaire */

header .addTask {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 20px;
}

header .addTask .logoForm {
    width: 40px;
}

div.form-example {
    display: table-row;
}

header .addTask label {
    display: table-cell;
    font-family: Amatic SC;
    font-size: 28px;
    font-weight: bold;
    color: #213A6C;
}

header .addTask .addTaskText {
    width: 500px;
    height: 28px;
    margin-right: 30px;
    margin-top: 8px;
  
    border-style: none;
    padding-right: 10px;
    
    color: #878181;
    font-style: italic;
    text-align: right;
    
}

header .addTask .addTaskButton {
    width: 160px;
    height: 28px;
    margin-top: 10px;
    background: #213A6C;
    color: white;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.678);
    border-style: none;
    border-radius: 4px;
}

header .addTask .addTaskButton:hover {
    background: white;
    color: #213A6C;
    border: solid #213A6C 2px;
}


label {
    padding-right: 10px;
}

/* Section principale */

.mainSection {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
  
    /* Liste des tâches */

.task_bloc{
    width: 700px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 10px;
    border: 5px solid #203A6C;
    background-color: whitesmoke;
    border-radius: 20px 20px 20px 20px;
}

.line {
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 5px 15px 5px 15px;
    border-radius: 20px 20px 20px 20px;
}

.list{
    width: 300px;
    border-bottom: #213A6C solid 1px;
    padding: 5px 5px;
    margin-right: 10px;
}

.list p{
    font-family: Amatic SC;
    font-size: 24px;
    font-weight: bold;
}

#status {
    display: flex;
    align-items: center;
}

#status img {
    height: 20px;
    margin-right: 10px;
}

.statusLabel  {
    width: 70px;
    height: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}


    /* Menus */

.modifyMenu {
    display: flex;
    justify-content: end;
}

#menu-demo2, ul {
    padding:0;
    list-style:none;
    text-align:center;
}

#menu-demo2 li {
    display:inline-block;
    position:relative;
    border-radius: 10px 10px 0px 0px;
}

#menu-demo2 ul li {
    display:inherit;
    border-radius:0;
}

#menu-demo2 ul li:hover {
    border-radius:0;
}

#menu-demo2 ul li:last-child {
    border-radius: 0px 0px 10px 10px;
}

#menu-demo2 ul {
    position:absolute;
    z-index: 1000;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
}

#menu-demo2 li:hover ul {
    max-height:15em;
}

    /* Background des liens menus */

/* #menu-demo2 li:last-child {
    background-color: #CFFF6A;
    background-image:-webkit-linear-gradient(top, #CFFF6A 0%, #677F35 100%);
    background-image:linear-gradient(to bottom, #CFFF6A 0%, #677F35 100%);
} */

    /* Background des liens sous menus */
    
#menu-demo2 li:first-child li {
    background: #E87479;
}

#menu-demo2 li:nth-child(2) li {
    background:#333A40;
}

#menu-demo2 li:last-child li {
    background:#677F35;
}

    /* background des liens menus et sous menus au survol */

#menu-demo2 li:first-child:hover {
    background:#E87479;
}

#menu-demo2 li:nth-child(2):hover {
    background:#FFD977;
}

#menu-demo2 li:last-child:hover {
    background:#9CC8CB;
}

    /* les a href */

#menu-demo2 a {
    text-decoration:none;
    display:block;
    padding:8px 32px;
    color:#fff;
    font-family:arial;
}

#menu-demo2 ul a {
    padding:8px 0;
}

#menu-demo2 li:hover li a {
    color:#878181;
    text-transform:inherit;
}

/* Flèche modifier */

.arrow {
    border: solid #878181;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
  

    /* Boutons supprimer*/

.deleteButton {
    text-decoration:none;
    display:block;
    padding:7px 32px;
    color:#878181;
   
}


/* Sidebar */

.sideBar {
    width: 250px; 

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sideBar .taskFilter {
    display: flex;
    flex-direction: column;
}

.sideBar h4 {
    font-family: 'Roboto', sans-serif;
    color: #878181;
    font-size: 14px;
}

.sideBar .taskFilter .Filter {
    width: 180px;
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.5);
    white-space: nowrap;
}


.sideBar .randomImg {
    width: 200px;
    margin-top: 20px;
}

.sideBar .randomButton {
width: 180px;
height: 28px;
background: #213A6C;
color: white;
box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.678);
border-style: none;
border-radius: 4px;
}

.sideBar .randomButton:hover {
    background: white;
    color: #213A6C;
    border: solid #213A6C 2px;
}