/* General */

body {
    background-color: #D2DEF1;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;   
}


/* Header */

header{
    display: flex;
    justify-content: space-between;
    border: 5px solid grey;
}

header .titreSite {
    display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: center;   
    border: #213A6C solid 2px;
}

header h1 {
    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    
    color: #213A6C;  
}

header .logoSite {
    width: 80px;
}

    /* Formulaire */

header .addTask {
    display: flex;
    justify-content: center;
    width: 1200px;
}

div.form-example {
    display: table-row;
}

header .addTask label {
    display: table-cell;
}

header .addTask .addTaskText {
    width: 600px;
}


/* label, input {
    display: table-cell;
    width: 120px;
    margin-bottom: 10px;
} */


label {
    padding-right: 10px;
}

/* Section principale */

.mainSection {
    display: flex;
    justify-content: space-between;
    border: #213A6C solid 2px;
}
  
    /* Liste des tâches */

.task_bloc{
    width: 550px;

    display: flex;
    flex-direction: column;

    border: 5px solid #203A6C;
    background-color: whitesmoke;
    border-radius: 20px 20px 20px 20px;
}

.list{
    display: flex;
    flex-direction: row;
    
    padding: 15px;
    margin: 5px 250px 5px 30px;
    border-radius: 20px 20px 20px 20px;
}

.toDo{
    background-color: #E87479;
}

.doing{
    background-color: #FFD977;
}

.done{
    background-color: #9CC8CB;
}

    /* Menus */

#menu-demo2, ul{
    padding:0;
    list-style:none;
    text-align:center;
}

#menu-demo2 li{
    display:inline-block;
    position:relative;
    border-radius: 10px 10px 0px 0px;
}

#menu-demo2 ul li{
    display:inherit;
    border-radius:0;
}

#menu-demo2 ul li:hover{
    border-radius:0;
}

#menu-demo2 ul li:last-child{
    border-radius: 0px 0px 10px 10px;
}

#menu-demo2 ul{
    position:absolute;
    z-index: 1000;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
}

#menu-demo2 li:hover ul{
    max-height:15em;
}

    /* Background des liens menus */

#menu-demo2 li:last-child{
    background-color: #CFFF6A;
    background-image:-webkit-linear-gradient(top, #CFFF6A 0%, #677F35 100%);
    background-image:linear-gradient(to bottom, #CFFF6A 0%, #677F35 100%);
}

    /* Background des liens sous menus */
    
#menu-demo2 li:first-child li{
    background: #E87479;
}

#menu-demo2 li:nth-child(2) li{
    background:#333A40;
}

#menu-demo2 li:last-child li{
    background:#677F35;
}

    /* background des liens menus et sous menus au survol */

#menu-demo2 li:first-child:hover{
    background:#E87479;
}

#menu-demo2 li:nth-child(2):hover{
    background:#FFD977;
}

#menu-demo2 li:last-child:hover{
    background:#9CC8CB;
}

    /* les a href */

#menu-demo2 a{
    text-decoration:none;
    display:block;
    padding:8px 32px;
    color:#fff;
    font-family:arial;
}

#menu-demo2 ul a{
    padding:8px 0;
}

#menu-demo2 li:hover li a{
    color:#fff;
    text-transform:inherit;
}

    /* Boutons supprimer*/

.button{
    text-decoration:none;
    display:block;
    padding:7px 32px;
    color:#fff;
    background:#677F35;
    border-radius: 10px 10px 0px 0px;
    font-family:arial;
    background-image:-webkit-linear-gradient(top, #CFFF6A 0%, #677F35 100%);
    background-image:linear-gradient(to bottom, #CFFF6A 0%, #677F35 100%);
}


/* Sidebar */

.sideBar {
    display: flex;
    flex-direction: column;
    border: #213A6C solid 2px;
}

.sideBar .randomButton {
    width: 20px;
}